.game-board{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 5%;
}


.board{
    width: 40%;
    height: 33rem;
    background-color:rgba(28, 36, 55) ;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 1%;
    
}