.div-middle {
  display: flex;
  justify-content: center;
  width: 65%;
  border-bottom: 1px solid rgb(47 58 76);
  border-top: 1px solid rgb(47 58 76);
  margin-top: 2rem;
  margin-bottom: -2rem;
  margin-left: 18%;
}

.div-middle h2 {
  color: rgb(132 144 163);
  height: 65%;
}
