section {
  height: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.div-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(88 96 113);
  width: 15rem;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(34 47 66);
  color: rgb(200 209 221);
  border-bottom: 1px solid rgb(52 60 73);
  width: 100%;
  height: 35%;
  gap: 5px;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: rgb(23 31 49);
  color: rgb(219 219 217);
  width: 100%;
  height: 65%;
}

.top h3 {
  border-bottom: 3px solid rgb(53 62 77);
}

.win h1 {
  color: gold;
  position: absolute;
  top: 20%;
  z-index: 1;
  font-size: 200px;
  margin-left: 50px;
}
.win h2 {
  color: gold;
  position: absolute;
  top: 35%;
  z-index: 1;
  font-size: 200px;
}
.win p {
  color: gold;
  position: absolute;
  top: 50%;
  z-index: 1;
  font-size: 200px;
  margin-left: 200px;
}

.win {
  display: flex;
  flex-direction: row;
}

.lose-msg {
  color: gold;
  position: absolute;
  top: 30%;
  left: 25%;
  z-index: 1;
  font-size: 500%;
}
.lose-msg p {
  color: gold;
  position: absolute;
  top: 50%;
  z-index: 1;
  font-size: 200px;
}
